<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307898410926-albdu23hnke35kdoi913aror1gif3uhb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307898410926-albdu23hnke35kdoi913aror1gif3uhb</string>
	<key>API_KEY</key>
	<string>AIzaSyBkv_ziqR4eMRxvdkTVDfpwMrlj0HN12Hg</string>
	<key>GCM_SENDER_ID</key>
	<string>307898410926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>dating-test-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-test-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307898410926:ios:b6890f81e8464cae0a4a3f</string>
</dict>
</plist>